<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="row">
        <div class="col-xs-5" form-group>
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #nameInput name="name" ngModel required>
        </div>
        <div class="col-xs-2" form-group>
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #amountInput name="amount" ngModel required pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success btn_margin" type="submit" [disabled]="!form.valid">{{editMode? 'Update':'Add'}}</button>
          <button class="btn btn-danger btn_margin" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary btn_margin" type="button" (click)="onClear()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>